<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsSlykY_FTbO8Jz5elQm082dvIqB2ERVY</string>
	<key>GCM_SENDER_ID</key>
	<string>598838890362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>money.rapidz.rapidzmoney.stag</string>
	<key>PROJECT_ID</key>
	<string>rapidz-money-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>rapidz-money-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598838890362:ios:c0d693df3a80660c7850c3</string>
</dict>
</plist>